@if (isVisible()) {
  <div class="d-flex no-wrap gap-8 p-8 rounded-4 {{ 'banner-' + type }}">
    <!-- Banner content -->
    <div class="banner-content grow-1 d-flex align-center justify-flex-start">
      <ng-content select="banner-content"></ng-content>
    </div>

    <!-- BUTTON: Close -->
    <button
      matIconButton
      aria-label="Close banner"
      class="close-button rounded-full p-0 d-flex align-center justify-center"
      [matTooltip]="'Close banner'"
      (click)="hide()"
    >
      <mat-icon svgIcon="cancel" class="cross-icon d-flex justify-center align-center" />
    </button>
  </div>
}
