<main class="login-container h-100 w-100 content d-flex justify-center align-center">
  <mat-card class="login-card">
    <mat-card-header class="d-flex justify-center mb-24">
      <mat-card-title>
        <h1 id="login-heading" class="heading-large">Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        aria-labelledby="login-heading"
        [formGroup]="loginForm"
        (ngSubmit)="onLoginFormSubmit()"
      >
        <div class="d-flex flex-column gap-24">
          <!-- TEXT FIELD: Email -->
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <mat-icon svgIcon="person" aria-hidden="false" class="login-icon" matPrefix></mat-icon>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="Enter your email"
              autocomplete="email"
            />
            @if (loginForm.get('email')?.hasError('required')) {
              <mat-error> Email is required </mat-error>
            } @else if (loginForm.get('email')?.hasError('email')) {
              <mat-error> Please enter a valid email address </mat-error>
            }
          </mat-form-field>

          <!-- TEXT FIELD: Password -->
          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <mat-icon svgIcon="lock" aria-hidden="false" class="login-icon" matPrefix></mat-icon>
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              matInput
              formControlName="password"
              placeholder="Enter your password"
              autocomplete="current-password"
            />

            <button
              matIconButton
              matSuffix
              aria-label="show password"
              [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
              [attr.aria-pressed]="showPassword"
              (click)="togglePasswordVisibility()"
            >
              @if (showPassword) {
                <mat-icon svgIcon="visibility"></mat-icon>
              } @else {
                <mat-icon svgIcon="visibilityOff"></mat-icon>
              }
            </button>

            @if (loginForm.get('password')?.hasError('required')) {
              <mat-error> Password is required </mat-error>
            }
          </mat-form-field>
        </div>

        <!-- CHECKBOX: Remember me -->
        <div class="d-flex w-100 justify-flex-start align-center my-8">
          <mat-checkbox formControlName="rememberMe" aria-label="Remember me">
            Remember me
          </mat-checkbox>
        </div>

        <!-- BUTTON: Login -->
        <button
          mat-raised-button
          matButton="filled"
          class="w-100"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>

        <!-- LINK: Forgot password -->
        <div class="d-flex w-100 justify-flex-end align-center mt-8">
          <a matButton [routerLink]="APP_ROUTES.forgotPassword"> Forgot password? </a>
        </div>

        <div class="d-flex w-100 gap-16 align-center my-24 px-24">
          <mat-divider class="grow-1" />
          <span class="body-small">OR CONTINUE WITH</span>
          <mat-divider class="grow-1" />
        </div>

        <!-- Social logins -->
        <div class="social-login-buttons d-flex justify-center gap-16 mb-24">
          <!-- BUTTON: Login with facebook -->
          <button
            matFab
            aria-label="Login with Facebook"
            class="br-100 button-facebook"
            [matTooltip]="'Login with Facebook'"
          >
            <mat-icon svgIcon="facebookLogo" class="social-login-icon icon-facebook-logo" />
          </button>

          <!-- BUTTON: Login with X (twitter) -->
          <button
            matFab
            aria-label="Login in with X (Twitter)"
            class="br-100 button-x-twitter"
            [matTooltip]="'Login with X (Twitter)'"
          >
            <mat-icon svgIcon="xTwitterLogo" class="social-login-icon icon-x-twitter-logo" />
          </button>

          <!-- BUTTON: Login with google -->
          <button
            matFab
            aria-label="Login with Google"
            class="br-100 button-google"
            [matTooltip]="'Login with Google'"
          >
            <mat-icon svgIcon="googleLogo" class="social-login-icon icon-google-logo" />
          </button>
        </div>

        <!-- LINK: Sign up -->
        <div class="d-flex w-100 justify-center align-center mt-8 gap-8">
          <span> Don't have an account? </span>
          <a matButton [routerLink]="APP_ROUTES.signup"> Sign up </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>
