<main class="signup-container min-h-100 min-w-100 content d-flex justify-center align-center">
  <mat-card class="signup-card">
    <mat-card-content>
      <!-- Banner -->
      <div class="mb-24">
        <app-banner #signupBanner>
          <div ngProjectAs="banner-content">{{ bannerMessage }}</div>
        </app-banner>
      </div>

      @if (enableOwnerSignup) {
        <h1 id="signup-heading" class="heading-large mb-24 d-flex justify-center">
          @if (selectedUserType() === UserType.CUSTOMER) {
            <div i18n>Sign Up as Customer</div>
          } @else {
            <div i18n>Sign Up as Owner</div>
          }
        </h1>

        <mat-tab-group
          class="signup-tabs"
          dynamicHeight
          aria-label="Select signup type"
          i18n-aria-label
          (selectedIndexChange)="onTabChange($event)"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <span i18n>Customer</span>
            </ng-template>
            <ng-container *ngTemplateOutlet="customerSignupPanel" />
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span i18n>Owner</span>
            </ng-template>
            <ng-container *ngTemplateOutlet="ownerSignupPanel" />
          </mat-tab>
        </mat-tab-group>
      } @else {
        <h1 id="signup-heading" class="heading-large mb-24 d-flex justify-center" i18n>Sign Up</h1>
        <ng-container *ngTemplateOutlet="customerSignupPanel" />
      }

      <ng-container *ngTemplateOutlet="socialSignup" />
    </mat-card-content>
  </mat-card>
</main>

<ng-template #customerSignupPanel>
  <div class="signup-panel pt-24">
    <form
      aria-labelledby="signup-heading"
      [formGroup]="customerSignupForm"
      (ngSubmit)="signupCustomer()"
    >
      <div class="d-flex flex-column gap-24">
        <mat-form-field class="w-100">
          <mat-label i18n>First Name</mat-label>
          <mat-icon svgIcon="person" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="firstName"
            type="text"
            placeholder="Enter your first name"
            autocomplete="given-name"
            i18n-placeholder
          />
          @if (customerSignupForm.get('firstName')?.hasError('required')) {
            <mat-error i18n>First name is required</mat-error>
          } @else if (customerSignupForm.get('firstName')?.hasError('minlength')) {
            <mat-error i18n>First name must be at least 2 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label i18n>Last Name</mat-label>
          <mat-icon svgIcon="person" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="lastName"
            type="text"
            placeholder="Enter your last name"
            autocomplete="family-name"
            i18n-placeholder
          />
          @if (customerSignupForm.get('lastName')?.hasError('required')) {
            <mat-error i18n>Last name is required</mat-error>
          } @else if (customerSignupForm.get('lastName')?.hasError('minlength')) {
            <mat-error i18n>Last name must be at least 2 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-100">
          <mat-label i18n>Username</mat-label>
          <mat-icon svgIcon="idCard" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="username"
            type="text"
            placeholder="Choose a username"
            autocomplete="username"
            i18n-placeholder
          />
          <mat-hint align="end"
            >{{ customerSignupForm.get('username')?.value?.length ?? 0 | number }} /
            {{ usernameMaxLength | number }}</mat-hint
          >
          @if (customerSignupForm.get('username')?.hasError('required')) {
            <mat-error i18n>Username is required</mat-error>
          } @else if (customerSignupForm.get('username')?.hasError('minlength')) {
            <mat-error i18n>Username must be at least 3 characters</mat-error>
          } @else if (customerSignupForm.get('username')?.hasError('maxlength')) {
            <mat-error i18n>Username must be at most 50 characters</mat-error>
          } @else if (customerSignupForm.get('username')?.hasError('usernameInvalid')) {
            <mat-error class="d-flex">
              <div class="d-flex flex-column h-100 w-100">
                <div>{{ usernameMustBeLabel }}:</div>
                <ul class="p-0 m-0 pl-16">
                  @for (
                    msg of customerSignupForm.get('username')?.errors?.['usernameInvalid'];
                    track msg
                  ) {
                    <li>{{ msg }}</li>
                  }
                </ul>
              </div>
            </mat-error>
          } @else if (customerSignupForm.get('username')?.hasError('usernameTaken')) {
            <mat-error>{{
              customerSignupForm.get('username')?.errors?.['usernameTaken']
            }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label i18n>Email</mat-label>
          <mat-icon svgIcon="mail" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter your email"
            autocomplete="email"
            i18n-placeholder
          />
          @if (customerSignupForm.get('email')?.hasError('required')) {
            <mat-error i18n>Email is required </mat-error>
          } @else if (customerSignupForm.get('email')?.hasError('email')) {
            <mat-error i18n>Please enter a valid email address </mat-error>
          }
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-100">
          <mat-label i18n>Password</mat-label>
          <mat-icon svgIcon="lock" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            type="{{ showCustomerPassword ? 'text' : 'password' }}"
            matInput
            formControlName="password"
            placeholder="Enter a strong password"
            autocomplete="new-password"
            i18n-placeholder
          />
          <button
            matIconButton
            matSuffix
            type="button"
            [attr.aria-label]="showCustomerPassword ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="showCustomerPassword"
            (click)="toggleCustomerPasswordVisibility()"
          >
            @if (showCustomerPassword) {
              <mat-icon svgIcon="visibility"></mat-icon>
            } @else {
              <mat-icon svgIcon="visibilityOff"></mat-icon>
            }
          </button>
          @if (customerSignupForm.get('password')?.hasError('required')) {
            <mat-error i18n>Password is required</mat-error>
          } @else if (customerSignupForm.get('password')?.hasError('passwordStrength')) {
            <mat-error class="d-flex">
              <div class="d-flex flex-column h-100 w-100">
                <div>{{ passwordMustBeLabel }}:</div>
                <ul class="p-0 m-0 pl-16">
                  @for (
                    msg of customerSignupForm.get('password')?.errors?.['passwordStrength'];
                    track msg
                  ) {
                    <li>{{ msg }}</li>
                  }
                </ul>
              </div>
            </mat-error>
          }
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        matButton="filled"
        class="w-100 mt-24"
        type="submit"
        i18n
        [disabled]="customerSignupForm.invalid"
      >
        Sign Up
      </button>
    </form>
  </div>
</ng-template>

<ng-template #ownerSignupPanel>
  <div class="signup-panel pt-24">
    <form
      aria-labelledby="signup-heading"
      [formGroup]="ownerSignupForm"
      (ngSubmit)="signupOwner()"
    >
      <div class="d-flex flex-column gap-24">
        <mat-form-field class="w-100">
          <mat-label i18n>First Name</mat-label>
          <mat-icon svgIcon="person" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="firstName"
            type="text"
            placeholder="Enter your first name"
            autocomplete="given-name"
            i18n-placeholder
          />
          @if (ownerSignupForm.get('firstName')?.hasError('required')) {
            <mat-error i18n>First name is required</mat-error>
          } @else if (ownerSignupForm.get('firstName')?.hasError('minlength')) {
            <mat-error i18n>First name must be at least 2 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label i18n>Last Name</mat-label>
          <mat-icon svgIcon="person" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="lastName"
            type="text"
            placeholder="Enter your last name"
            autocomplete="family-name"
            i18n-placeholder
          />
          @if (ownerSignupForm.get('lastName')?.hasError('required')) {
            <mat-error i18n>Last name is required</mat-error>
          } @else if (ownerSignupForm.get('lastName')?.hasError('minlength')) {
            <mat-error i18n>Last name must be at least 2 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-100">
          <mat-label i18n>Username</mat-label>
          <mat-icon svgIcon="idCard" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="username"
            type="text"
            placeholder="Choose a username"
            autocomplete="username"
            i18n-placeholder
          />
          <mat-hint align="end"
            >{{ ownerSignupForm.get('username')?.value?.length ?? 0 | number }} /
            {{ usernameMaxLength | number }}</mat-hint
          >
          @if (ownerSignupForm.get('username')?.hasError('required')) {
            <mat-error i18n>Username is required</mat-error>
          } @else if (ownerSignupForm.get('username')?.hasError('minlength')) {
            <mat-error i18n>Username must be at least 3 characters</mat-error>
          } @else if (ownerSignupForm.get('username')?.hasError('maxlength')) {
            <mat-error i18n>Username must be at most 50 characters</mat-error>
          } @else if (ownerSignupForm.get('username')?.hasError('usernameInvalid')) {
            <mat-error class="d-flex">
              <div class="d-flex flex-column h-100 w-100">
                <div>{{ usernameMustBeLabel }}:</div>
                <ul class="p-0 m-0 pl-16">
                  @for (
                    msg of ownerSignupForm.get('username')?.errors?.['usernameInvalid'];
                    track msg
                  ) {
                    <li>{{ msg }}</li>
                  }
                </ul>
              </div>
            </mat-error>
          } @else if (ownerSignupForm.get('username')?.hasError('usernameTaken')) {
            <mat-error>{{ ownerSignupForm.get('username')?.errors?.['usernameTaken'] }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label i18n>Email</mat-label>
          <mat-icon svgIcon="mail" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter your email"
            autocomplete="email"
            i18n-placeholder
          />
          @if (ownerSignupForm.get('email')?.hasError('required')) {
            <mat-error i18n>Email is required </mat-error>
          } @else if (ownerSignupForm.get('email')?.hasError('email')) {
            <mat-error i18n>Please enter a valid email address </mat-error>
          }
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-100">
          <mat-label i18n>Password</mat-label>
          <mat-icon svgIcon="lock" aria-hidden="false" class="signup-icon" matPrefix></mat-icon>
          <input
            type="{{ showOwnerPassword ? 'text' : 'password' }}"
            matInput
            formControlName="password"
            placeholder="Enter a strong password"
            autocomplete="new-password"
            i18n-placeholder
          />
          <button
            matIconButton
            matSuffix
            type="button"
            [attr.aria-label]="showOwnerPassword ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="showOwnerPassword"
            (click)="toggleOwnerPasswordVisibility()"
          >
            @if (showOwnerPassword) {
              <mat-icon svgIcon="visibility"></mat-icon>
            } @else {
              <mat-icon svgIcon="visibilityOff"></mat-icon>
            }
          </button>
          @if (ownerSignupForm.get('password')?.hasError('required')) {
            <mat-error i18n>Password is required</mat-error>
          } @else if (ownerSignupForm.get('password')?.hasError('passwordStrength')) {
            <mat-error class="d-flex">
              <div class="d-flex flex-column h-100 w-100">
                <div>{{ passwordMustBeLabel }}:</div>
                <ul class="p-0 m-0 pl-16">
                  @for (
                    msg of ownerSignupForm.get('password')?.errors?.['passwordStrength'];
                    track msg
                  ) {
                    <li>{{ msg }}</li>
                  }
                </ul>
              </div>
            </mat-error>
          }
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        matButton="filled"
        class="w-100 mt-24"
        type="submit"
        i18n
        [disabled]="ownerSignupForm.invalid"
      >
        Sign Up
      </button>
    </form>
  </div>
</ng-template>

<ng-template #socialSignup>
  <div class="d-flex w-100 gap-16 align-center my-24">
    <mat-divider class="grow-1" />
    <span class="body-small" i18n>OR CONTINUE WITH</span>
    <mat-divider class="grow-1" />
  </div>

  <!-- Social signups -->
  <div class="social-signup-buttons d-flex justify-center gap-16 mb-24 wrap">
    <!-- BUTTON: Sign up with facebook -->
    <button
      matFab
      type="button"
      aria-label="Sign up with Facebook"
      class="rounded-full button-facebook"
      [matTooltip]="'Sign up with Facebook'"
      (click)="showComingSoonPopup()"
    >
      <mat-icon svgIcon="facebookLogo" class="social-signup-icon icon-facebook-logo" />
    </button>

    <!-- BUTTON: Sign up with X (twitter) -->
    <button
      matFab
      type="button"
      aria-label="Sign up with X (Twitter)"
      class="rounded-full button-x-twitter"
      [matTooltip]="'Sign up with X (Twitter)'"
      (click)="showComingSoonPopup()"
    >
      <mat-icon svgIcon="xTwitterLogo" class="social-signup-icon icon-x-twitter-logo" />
    </button>

    <!-- BUTTON: Sign up with google -->
    <button
      matFab
      type="button"
      aria-label="Sign up with Google"
      class="rounded-full button-google"
      [matTooltip]="'Sign up with Google'"
      (click)="showComingSoonPopup()"
    >
      <mat-icon svgIcon="googleLogo" class="social-signup-icon icon-google-logo" />
    </button>
  </div>

  <!-- LINK: Sign in -->
  <div class="d-flex w-100 justify-center align-center mt-8 gap-8 wrap">
    <span i18n>Already have an account?</span>
    <a matButton i18n [routerLink]="appRoutes.login">Log in</a>
  </div>
</ng-template>
