.signup-container {
  background-color: var(--mat-sys-secondary-container);

  .signup-tabs {
    width: 100%;
  }

  .signup-panel {
    width: 100%;
  }

  .signup-icon {
    color: var(--mat-sys-primary);
  }

  .social-signup-buttons {
    .social-signup-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 60%;
    }

    .button-facebook {
      background-color: var(--color-facebook-blue);
      color: var(--color-white);
    }

    .button-x-twitter {
      background-color: var(--color-black);
      color: var(--color-white);
    }

    .button-google {
      background-color: var(--color-white);
      color: var(--color-google-red);
    }
  }
}

@media (min-width: 1400px) {
  .signup-card {
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .signup-card {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .signup-container {
    .signup-card {
      width: 70%;
    }
  }
}

@media (max-width: 576px) {
  .signup-container {
    .signup-card {
      width: 100%;
    }
  }

  .social-signup-buttons {
    .button-facebook,
    .button-x-twitter,
    .button-google {
      height: 45px;
      width: 45px;
    }
  }
}
