<main
  class="login-container min-h-100 min-w-100 content d-flex justify-center align-center"
>
  <mat-card class="forgot-card">

    <!-- Header -->
    <mat-card-header class="mb-14">
      <div class="title-row d-flex align-center gap-16">

        <div class="d-flex justify-center align-center">
          <mat-icon class="forgot-icon">key</mat-icon>
        </div>

        <mat-card-title>
          <h1 class="heading-large">Forgot password?</h1>
        </mat-card-title>

      </div>
    </mat-card-header>

    <mat-card-content>

      <p class="subtitle mb-24">
        No worries, we'll send you reset instructions.
      </p>

      <!-- Form -->
      <form (ngSubmit)="onSubmit()" #form="ngForm" class="d-flex flex-column gap-24">

        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <mat-icon svgIcon="person" aria-hidden="false" class="forgot-icon" matPrefix></mat-icon>
          <input
            matInput
            type="email"
            name="email"
            required
            email
            autocomplete="email"
            placeholder="Enter your email"
          />
        </mat-form-field>

        <button
          mat-raised-button
          matButton="filled"
          class="w-100"
          type="submit"
          [disabled]="form.invalid || loading"
        >
          {{ loading ? 'Sending...' : 'Reset password' }}
        </button>

      </form>

      <!-- Back -->
      <div class="d-flex justify-center mt-24">
        <a matButton routerLink="/login">
          <mat-icon class="mr-8">arrow_back</mat-icon>
          Back to log in
        </a>
      </div>

    </mat-card-content>
  </mat-card>
</main>