$icon-grid-breakpoints: (
  0: 1,
  320px: 2,
  576px: 3,
  768px: 4,
  992px: 5,
  1200px: 7,
  1400px: 8,
  2400px: 9,
);

.icon-grid {
  display: grid;

  @each $breakpoint, $columns in $icon-grid-breakpoints {
    @if $breakpoint == 0 {
      grid-template-columns: repeat($columns, 1fr);
    } @else {
      @media screen and (min-width: $breakpoint) {
        grid-template-columns: repeat($columns, 1fr);
      }
    }
  }
}
