@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Thin.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Thin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-ExtraLight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Light.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Regular.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Medium.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Bold.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FontFamilyUI';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Roboto/static/woff2/Roboto-Black.woff2') format('woff2'),
        url('/assets/fonts/Roboto/static/ttf/Roboto-Black.ttf') format('truetype');
    font-display: swap;
}